@tailwind base;
@tailwind components;
@tailwind utilities;



/* Importação de Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Configurações Globais */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6; /* Fundo suave */
  color: #333; /* Cor padrão do texto */
}

/* Links e Botões */
a {
  color: #1d4ed8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s;
}

/* Estilos de Cabeçalhos */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}